.calc {
    margin-left: 5px;
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 20px; 
    position: relative;
    margin: 10% 10% 0 10%;
  }

  .input-wrapper {
    position: relative;
    align-items: center;
    text-align: center;
  }

  .calc .input-n4 {
    border: 2px solid #FE6613;
  }

  .input-wrapper:nth-child(1):after,
  .input-wrapper:nth-child(3):after {
    content: '';
    position: absolute;
    top: 50%;
    width: calc(30%);
    margin: 0 calc(2%);
    height: 2px;
    background-color: #787878;
  }


.calc input {
    height: 40px;
    border-radius: 4px;
    color: #787878;
    border: 1px solid #a06e6e;
    box-sizing: border-box;
    font-size: 1rem;
    width: 100%;
}

.calc button {
    margin-top: 10%;
    color: white;
    font-weight: bold;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: #FE6613;
    font-size: 0.9rem;
    padding: 8px 16px;
    border-radius: 5px;
}

.calc h2 {
    color: #1B2653;
    font-size: 1.5rem;
}
