.form-container {
    max-width: 400px;
    margin-left: 5px;
}

.form-group {
    margin-bottom: 10px;
    margin-left: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

.form-group textarea {
    width: 80%;
    height: 100px;
    resize: none;
    color: #787878;
    border: 1px solid #787878;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 5px;
}

.form-group input {
    width: 80%;
    height: 40px;
    border-radius: 4px;
    color: #787878;
    border: 1px solid #787878;
    box-sizing: border-box;
    font-size: 1rem;
}

.form-group button {
    color: white;
    font-weight: bold;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: #FE6613;
    font-size: 0.9rem;
    padding: 8px 16px;
    border-radius: 5px;
}

.form-group h2 {
    color: #1B2653;
    font-size: 1.5rem;
}

.error-message {
    color: red;
    font-size: 0.9rem;
}